/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* OPTIONS PAGE */

#ant_dashboard_wrap {
    display: block;
}

#ant_dashboard_wrap .ant_options_btn input[type='submit'] {
    text-shadow: none;
    color: #FFF;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: none;
    background-color: #dddddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 53px;
    line-height: 53px;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}
#ant_dashboard_wrap .ant_options_btn input[type='submit']:hover {
    background-color: #a36597;
}

#ant_dashboard_wrap .button-primary:before {
    /*content: "\f147";
    left: 14px;
    top: -2px;
    font-size: 28px;
    display: block;
    position: absolute;
    text-shadow: none !important;
    font-weight: 300 !important;*/
}

#ant_dashboard_wrap #ant_dashboard_content {
    box-shadow: 0px 10px 30px 0px rgba( 10, 0, 0, 0.6 ) !important;

}
#ant_dashboard_wrap #ant_dashboard_content h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    line-height: 1.1em;
    color: #373942;
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
}

#ant_dashboard_content .form-table div.ant_check_description {
    font-size: 14px !important;
    float: center !important;
    width:500px !important;
    font-style: italic;
}

#ant_dashboard_content .form-table th {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.1em;
    color: #373942;
    font-weight: 600;
    letter-spacing: .5px;
    width:278px;
    padding: 2% 0;
}
#ant_dashboard_content .form-table td {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.1em;
    color: #373942;
    font-weight: 400;
    letter-spacing: .5px;
    padding-left: 7%;
    padding-bottom: 3%;
}
#ant_dashboard_design .form-table tr:last-child, #ant_dashboard_design .form-table tr:nth-last-child(2), #ant_dashboard_design .form-table tr:nth-last-child(3), #ant_dashboard_design .form-table tr:nth-last-child(4), #ant_dashboard_design .form-table tr:nth-last-child(5) {
    display: none;
}
#ant_dashboard_content input[type="text"] {
    height: 39px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: #F1F5F9;
    margin: 0 13px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    transition: background .5s;
}
#ant_dashboard_content input[type="text"]:focus {
    background: #d5d2ca;
}

#ant_dashboard_wrap .nav-tab-wrapper {
    background-color: #397267 !important;
    margin-top: 3% !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    padding: 0 !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
}
#ant_dashboard_wrap .nav-tab-wrapper  div{
    flex-grow: 1;
}

#ant_dashboard_wrap .ant_tabs {
    display: flex;
    justify-content: flex-end;
    flex-basis: 300px;

}

.nav-tab-wrapper #ant_icon {
    display: flex;
    justify-content:center;

}

#ant_dashboard_wrap .nav-tab-wrapper a {
    margin: 0 !important;
    color: #d1d1d1 !important;
    background-color: #397267;
    border: none !important;
    border-top-left-radius: 3px;
    padding: 1.25em 2%;
    flex-grow: 2;
    /*float: right;*/
}
#ant_dashboard_wrap .nav-tab-wrapper a:hover {
    background-color: #357c68;
}
#ant_dashboard_wrap .nav-tab-wrapper .nav-tab-active {
    color: white !important;
}
#ant_dashboard_wrap .nav-tab-wrapper .dashicons {
    margin: 0 !important;
    padding:  2% 3%;
}
#ant_dashboard_content {
    background-color: white !important;
    margin: 0 2% !important;
    padding: 3% 5% !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.checkbox-content {
    position: relative; width: 110px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: left;
    margin-right: 20px;
}
.ant_checkbox {
    display: none !important;
}
.ant_check_label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #BFBFBF; border-radius: 10px;
}
.ant_switch_off {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.ant_switch_off:before, .ant_switch_off:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.ant_switch_off:before {
    content: attr(data-checked);
    padding-left: 7px;
    background-color: #00C3AA; color: #FFFFFF;
}
.ant_switch_off:after {
    content: attr(data-unchecked);
    padding-right: 4px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.ant_switch_on {
    display: block; width: 40px; margin: -1.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 69px;
    border: 2px solid #BFBFBF; border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.ant_checkbox:checked + .ant_check_label .ant_switch_off {
    margin-left: 0;
}
.ant_checkbox:checked + .ant_check_label .ant_switch_on {
    right: 0px;
}
.notice-img {
    position: relative;
    top: 1.5em !important;
}
.wp-heading-inline, .wrap h1 {
    margin-bottom: 10px !important;
}
.notice_page_ant_admin_notices_team {
    margin-top: 15px !important;
}
.themes {
    margin-top: 15px !important;
}
.notice_page_ant_admin_notices_team .updated {
    margin-top: 3% !important;

}


div#ant-content {
    display: inline;
    margin-left: 0 !important;
    width: 90% !important;
    height: 150px !important;
}


#ant_dashboard_content .settings_textarea {
   width: 512px !important;
    min-height: 200px !important;
    background-color: #3e3e3e;
    color: ghostwhite;
}

#ant_dashboard_content .wp-picker-container {
    margin-left: 8px !important;
    margin-top: 5px !important;
}


#ant_dashboard_content .wp-picker-clear { height: 40px; width: 90px; margin-left: 5px !important; }

#ant_dashboard_content input[type=range] {-webkit-appearance: none;background-color: #F1F5F9;height: 8px;width: 412px;display: inline-block;position: relative;padding: 0;margin: 10px 10px 0 10px;top: -3px;}
#ant_dashboard_content input[type=range]:focus { box-shadow: none !important; outline: none !important; }
#ant_dashboard_content input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; background-color: #357c68; width: 18px; height: 18px; border-radius: 15px; -webkit-border-radius: 15px; }
#ant_dashboard_content input[type="range"]::-moz-range-track { border: inherit; background: transparent; }
#ant_dashboard_content input[type="range"]::-ms-track { border: inherit; color: transparent; background: transparent; }
#ant_dashboard_content input[type="range"]::-ms-fill-lower,
#ant_dashboard_content input[type="range"]::-ms-fill-upper { background: transparent; }
#ant_dashboard_content input[type="range"]::-ms-tooltip { display: none; }
#ant_dashboard_content input[type="range"]::-webkit-slider-thumb { -webkit-appearance: none; width: 18px; height: 18px; border: none; border-radius: 15px; background-color: #357c68; }
#ant_dashboard_content input[type="range"]::-moz-range-thumb { width: 18px; height: 18px; border: none; border-radius: 15px; background-color: #357c68; }
#ant_dashboard_content input[type="range"]::-ms-thumb { width: 18px; height: 18px; border-radius: 15px; border: 0; background-color: #357c68; }


.meta_hidden {
    display: none;
}
.meta_label_notices {
    color: gray;
    font-weight: 700;
}
.hidden {
    display: none !important;
}
.author_tags_container {
    display: flex;
    flex-wrap: wrap;
}
.author_tags {
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;
    background-color: royalblue;
    color: whitesmoke;
    padding: 2% 1%;
    border: solid 1px white;
    border-radius: 20px;
}

.ant-tip {
    cursor: help;
    position: relative !important;
}
.ant-tip::before,
.ant-tip::after {
    position: absolute;
    left: 50%;
    opacity: 0;
    z-index: -100;
}
.ant-tip:hover::before,
.ant-tip:focus::before,
.ant-tip:hover::after,
.ant-tip:focus::after {
    opacity: 1;
    z-index: 100;
    transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
}
.ant-tip::before {
    border-style: solid;
    border-width: 0 .75em 1em .75em;
    border-color: transparent transparent #3E474F transparent;
    top: 100%;
    margin-left: -.5em;
    content: "";
    transform: scale(.2) translateY(-90%);
    -moz-transform: scale(.2) translateY(-90%);
    -webkit-transform: scale(.2) translateY(-90%);
    transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), opacity .65s;
    -webkit-transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), opacity .65s;
    -moz-transition: all .65s cubic-bezier(.85, -0.18, .31, 1.26), opacity .65s;

}
.ant-tip:hover::before,
.ant.tip:focus::before {
    transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
}
.ant-tip::after {
    background: #3E474F;
    border-radius: .25em;
    top: 117%;
    color: #EDEFF0;
    --width: 13.5em;
    width: var(--width);
    padding: 1em;
    margin-left: calc(-1 * var(--width)/ 2);
    content: attr(data-tip) attr(data-button);
    transform: scale(.6) translateY(50%);
    -webkit-transform: scale(.6) translateY(50%);
    -moz-transform: scale(.6) translateY(50%);
    transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
    -webkit-transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
    -moz-transition: all .65s cubic-bezier(.84, -0.18, .31, 1.26) .2s;
}
.ant-tip:hover::after,
.ant.tip:focus::after {
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
}


.ant-notice button.notice-dismiss::after {
    display: none;
    background: 0 0;
    color: #72777c;
    content: "\f147";
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}
.ant-notice:hover button.notice-dismiss::before,
.ant-notice:focus button.notice-dismiss::before{
    display: none;
}

.ant-notice:hover button.notice-dismiss::after,
.ant-notice:focus button.notice-dismiss::after{
    display: block !important;
}

.ant-notice-wrap {
    display: flex;
}

